* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

html {
  scroll-behavior: smooth;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;

  position: fixed;
  background-color: purple;
  width: 100%;
}

header img {
  width: 100px;
}

header a {
  margin-left: 20px;
  margin-right: 10px;
}

h3 {
  font-size: 25px;
}

a {
  text-decoration: none;
  color: rgb(249, 252, 252);
}

a:hover {
  color: #c2a5d8;
}

.intro {
  background-color: rgba(247, 247, 247, 0.993);
  height: 100vh;
  color: rgb(15, 0, 0);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro p {
  padding: 20px;
  background-color: rgba(247, 247, 247, 0.993);
  border-radius: 8px;
  text-decoration: none;
  color: #191c03;
  width: 500px;
}

.intro h1 {
  font-size: 50px;
  margin-bottom: 15px;
}

.intro h3 {
  font-size: 25px;
  margin-bottom: 10px;
}